body {
    background-color: #E1EFD9;
}

.page-header {
    margin-top: 0px;
    background-color: #A9D18E;
    text-align: center;
}

ul {
    list-style: none;
}

/*Ads styling*/

.ads li{
    background-color: #A9D18E;
    border: 1px solid black;
    margin-bottom: 20px;
}

.ads-info-text ,.ads-info-tel,.ads-info-email,.ads-info-owner {
    border: 1px dotted transparent;
    background-color: #C5DFB4;
}

/* side guest navigation */

.left-nav {
    padding: 10px;
    border: 1px solid black;
    background-color: #A9D18E;
    border-radius: 8px;
}

.auth-nav {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid black;
    background-color: #A9D18E;
    border-radius: 8px;
}

.auth-nav > p {
    font-weight: bold;
}

.categories-nav {
    padding: 10px;
    border: 1px solid black;
    background-color: #A9D18E;
    border-radius: 8px;
}

.towns-nav {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: #A9D18E;
    border-radius: 8px;
}

.login-form,.register-form,.publish-ad-form,.edit-profile-form {
    border: 1px solid black;
    background-color: #A9D18E;
    padding: 10px;
}

.ads-image-box {
    width: 170px;
    height: 150px;
}